.csvUploader, .csvWorking, #messages {
    width:100%;
    font-size:12px;
    padding:5px 15px 0px 15px;
    background-color:#eee;
    text-align:center;
    margin-bottom:35px;
}
#csvFile {
    position:absolute;
    top:-1000px;
}
.csvWorking, #messages, #groups {
    display:none;
}
.success-text {
    color:green;
}

.alert {
    padding:10px;
    background-color:#444;
    border:1px solid #222;
    color:#fff;
    border-radius:4px;
    margin:0px;
    margin-bottom:10px;
    font-weight:400;
    letter-spacing:.05em;
}
.alert.error {
    background-color:#990000;
    border-color:#770000;
}
.alert.success {
    background-color:#009900;
    border-color:#007700;
}
#groupSpinner {
    padding:30px;
    text-align:center;
}
#groups {
    border:1px solid #ddd;
    border-radius:4px;
    overflow:hidden;
}
.group-name {
    border-top:1px solid #ddd;
    background-color:#eee;
    font-weight:bold;
    padding:15px;
}
.group:first-of-type .group-name {
    border-top:0px;
}
.people {
    padding:15px;
    display:none;
    border-top:1px solid #ddd;
}
.people.show {
    display:block;
}

table thead tr th[aria-sort="ascending"]:before,
table thead tr th[aria-sort="descending"]:before,
table thead tr th[aria-sort="none"]:before {
    display:inline-block;
    float:right;
    font-family: FontAwesome;
}
table thead tr th[aria-sort="ascending"]:before {
    content:"\f0de";
}
table thead tr th[aria-sort="descending"]:before {
    content:"\f0dd";
}
table thead tr th[aria-sort="none"]:before {
    content:"\f0dc";
}
